body{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:0;
    display:flex;
    gap: 40px;
    height: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 40px;
}

Label{
    font-size: 30px;
}

option{
    background-color: azure;
    color:rgb(37, 33, 33);
    padding:10px;
    min-width: 200px;
    border-radius: 3px;
    font-size: 15px;
}

select{
    padding: 20px;
    font-size: 20px;
}