<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/assets/css/components/header.css">

</head>

<body>

    <!-- top header -->
    <div class="top-bar">
        <a id="wishlist-btn-heder" href="#">Merken</a> |
        <a id="log-reg-btn-header" href="/pages/login.html">Login / Registrieren</a> |
        <a id="user-btn-header" href="/pages/user.html">Mein Konto</a>
    </div>

    <!-- nav header -->
    <nav class="main-nav">

        <div class="main-menu">
            <div class="logo">
                <a href="testIndex.php"><img src="/assets\images\logo\logoDarkmode.png" alt="MLR Logo"
                        style="height:60px;"></a>
            </div>
            <ul>
                <li>
                    <a href="/category.php?category=alle">Alle Produkte</a>
                </li>
                <li>
                    <a href="/category.php?category=pc">Desktop PCs</a>
                    <ul class="submenu">
                        <li><a href="/category.php?category=gamingpc">gaming PCs</a></li>
                        <li><a href="/category.php?category=officepc">office PCs</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/category.php?category=laptop">Laptops</a>
                    <ul class="submenu">
                        <li><a href="/category.php?category=gaminglaptop">gaming Laptops</a></li>
                        <li><a href="/category.php?category=officelaptop">office Laptops</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/category.php?category=zubehör">Monitore & Zubehör</a>
                    <ul class="submenu">
                        <li><a href="/category.php?category=monitor">Monitore</a></li>
                        <li><a href="/category.php?category=tastatur">Tastaturen</a></li>
                        <li><a href="/category.php?category=maus">Mäuse</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">PC Konfigurator</a>
                </li>
                <li>
                    <a href="#">Sale & Aktionen <span class="red-badge">5</span></a>
                </li>
            </ul>
        </div>
        <a href="#" class="cart">
            MEIN WARENKORB
            <span class="cart-badge">0</span>
        </a>
    </nav>
</body>

</html>