<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/assets/css/components/header.css">
    <link type="javascript" src="/assets/javascript/toggleTheme.js">
</head>

<body>

    <!-- top header -->
    <div class="top-bar">
        <img id="themeToggleBtn" src="/assets/images/icons/dark-mode.svg" alt="toggle-theme-btn"
            onclick="toggleTheme()">
        <div class="login-user-container">
            <a href="/pages/login.php">
                <img class="header-icon" src="/assets/images/icons/login.svg" alt="Login/Registrierung"
                    title="Login/Registrierung">
            </a>
            <a href="/pages/user.php">
                <img class="header-icon" src="/assets/images/icons/account.svg" alt="Account" title="Account">
            </a>
        </div>
    </div>

    <!-- nav header -->
    <nav class="main-nav">
        <div class="main-menu">
            <div class="logo">
                <a href="/testIndex.php"><img src="/assets/images/logo/logoDarkmode.png" alt="MLR Logo"
                        style="height:60px;"></a>
            </div>
            <ul>
                <li>
                    <a href="/category.php?category=alle">Alle Produkte</a>
                </li>
                <li>
                    <a href="/category.php?category=pc">Desktop PCs</a>
                    <ul class="submenu">
                        <li><a href="/category.php?category=gamingpc">gaming PCs</a></li>
                        <li><a href="/category.php?category=officepc">office PCs</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/category.php?category=laptop">Laptops</a>
                    <ul class="submenu">
                        <li><a href="/category.php?category=gaminglaptop">gaming Laptops</a></li>
                        <li><a href="/category.php?category=officelaptop">office Laptops</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/category.php?category=zubehör">Monitore & Zubehör</a>
                    <ul class="submenu">
                        <li><a href="/category.php?category=monitor">Monitore</a></li>
                        <li><a href="/category.php?category=tastatur">Tastaturen</a></li>
                        <li><a href="/category.php?category=maus">Mäuse</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/configurator.php">PC Konfigurator</a>
                </li>
                <li>
                    <a href="#">Sale & Aktionen <span class="red-badge">5</span></a>
                </li>
            </ul>
        </div>

        <!-- Warenkorb und Wunschliste-->
        <div class="wishlist-cart-container">
            <a href="/pages/wishlist.php" title="Wunschliste">
                <img class="header-icon" id="wishlist-icon" src="/assets/images/icons/favorite-border.svg"
                    alt="wishlist">
            </a>
            <a href="/pages/shoppingBasket.php" class="cart">
                MEIN WARENKORB
                <span class="cart-badge">0</span>
            </a>
        </div>

    </nav>
</body>

</html>