/* MICHAEL PIETSCH */

.page-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(to bottom right, #f9f9f9, #e6ecf5);
  padding: 40px 20px;
  font-family: "Segoe UI", sans-serif;
}

/* Button unten */
.back-last-page {
  font-size: 20px;
  margin: 0px 0 0;
  color: white;
  padding: 12px 24px;
  background-color: var(--submit-bg, #2c3e50);
  border-radius: 12px;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
}

.back-last-page:hover {
  color: #f1f1f1;
  background-color: var(--submit-hover, #1a252f);
  transform: translateY(-2px);
}

/* -------- Admin index ------------ */

.directions-container {
  text-align: center;
  padding: 0px 50px 20px;
  border: 1px solid lch(87.76% 0.01 296.81);
  border-radius: 20px;
  background-color: white;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  max-width: 450px;
  width: 100%;

  margin-bottom: 40px;
}

.directions-container h1 {
  font-size: 32px;
  color: rgb(44, 62, 80);
}

.directions-button {
  font-size: 20px;
  text-decoration: none;
  font-weight: 600;
  padding: 14px 24px;
  background-color: rgb(48, 56, 207);
  margin: 12px 60px;
  border-radius: 12px;
  color: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in-out;
}

.directions-button:hover {
  background-color: rgb(36, 40, 157);
  transform: translateY(2px);
}

/* ----- Produktdarstellung in liste ----- */

.products-wrapper {
  padding: 20px ;
  display: flex;
  flex-direction: column;
  margin: 30px 0 0 0;
  gap: 80px;
}

.product{
  border-radius: 10px;
  flex-direction: row;
  background-color: var(--product-container);
  border: 2px solid var(--product-border);
  padding: 15px;
  display: flex;
  max-height: 280px;
  position: relative;
  min-width: 550px;
  color: var(--product-text);
}

.product::after {
  position: absolute;
  content: '';
  border-bottom: 3px solid rgb(202, 202, 202);
  width: 110%;
  transform: translate(-5%);
  left: -2px;
  top: -40px;
  border-radius: 10%;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.product:first-child::after {
  border: none;
}

.delete-button {
  position: absolute;
  top: 20px;
  right: 20px;
  color: white;
  background-color: rgb(215, 14, 14);
  border-radius: 10%;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 25px;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
  z-index: 30;
  cursor: pointer;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

.delete-button:hover {
  background-color: rgb(170, 15, 15);
}

.product:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border: 2px solid var(--product-border--hover);
  transition: 0.15s ease-out;
}

.product-badge {
  position: absolute;
  top: 15px;
  left: 15px;
  background-color: #e00;
  color: white;
  padding: 5px 10px;
  font-size: 12px;
  font-weight: bold;
  z-index: 20;
}

.product-image {
  padding-right: 15px;
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  overflow: hidden;
}

.product-image img {
  cursor: pointer;
  display: block;
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.product:hover img {
  transform: scale(1.08);
  transition: transform 0.3s ease;
}

.product-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  background-color: var(--product-specs-bg);
  padding: 13px;
  border-radius: 5px;
}

.product-title {
  font-size: 16px;
  margin-bottom: 15px;
}

.product-specs {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  grid-template-rows: repeat(3, auto);
  gap: 5px;
  gap: 5px 10px;
  list-style: none;
  padding: 0;
  margin: 0 0 15px 0;
  height: auto;
}

.product-specs li {
  font-size: 14px;
  line-height: 1.2;
  margin: 0;
  padding: 2px 0;
}

.product-specs li::before {
  content: "›";
  margin-right: 5px;
  color: #e00;
}

.product-footer {
  margin-top: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 15px;
}

.price {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
}

.price-prefix {
  font-size: 18px;
  vertical-align: top;
}

.edit-product {
  display: block;
  background-color: rgb(204, 20, 20);
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 12px;
}

.edit-product:hover {
  background-color: rgb(157, 18, 18);
  transition: background-color 0.3s ease;
}


/* -----------   User-list   ------------------*/

.orders-wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 40px 20px;
}

.user {
  background-color: white;
  border: 2px solid rgb(185, 185, 185);
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.25);
  transition: border-color 0.2s ease-in-out;
  border-bottom: 5px solid rgb(185, 185, 185);
  max-width:70vw;
  width:800px;
}

.user:hover {
  border-bottom: 5px solid rgb(199, 18, 18);
}

.user-header {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  font-size: 16px;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

.user-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  font-size: 16px;
  margin:40px;
  margin-bottom:70px;
}

.info-label{
  margin:12px;
  display:flex;
  flex-direction:column;

}

.address-wrapper{
  display:flex;
  flex-direction:row;
  gap: 2px;
}

.address{
  display:flex;
  flex-direction:column;
  gap:22px;
} 

.user-status-more{
  display:flex;
  flex-direction:row;
  font-size: 14px;
  justify-content: space-between;
  align-items: center;
  gap:12px;
  margin: 6px 0 0 0;
}

.user-status-more label {
  font-weight: bold;
  font-size:16px;
}

.user-status-more select {
  padding: 8px 12px;
  border-radius: 10px;
  background-color: transparent;
  border:none;
  font-size: 15px;
  transition: 0.3s ease;
}

.user-status-more option:hover, .user-status-more select:hover, .user-status-more select:focus{
  background-color: rgb(188, 23, 23);
  color:white
}



/*   ------------  Orders-list  ---------  */

.orders-wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 40px 20px;
}

.order {
  background-color: white;
  border: 2px solid rgb(185, 185, 185);
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.25);
  transition: border-color 0.2s ease-in-out;
  border-bottom: 5px solid rgb(185, 185, 185);
}

.order:hover {
  border-bottom: 5px solid rgb(199, 18, 18);
}

.order-header {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  font-size: 16px;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

.order-body {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.order-info {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  font-size: 14px;
}

.order-status-more, .user-status-more{
  display:flex;
  flex-direction:row;
  font-size: 14px;
  justify-content: space-between;
  align-items: center;
  gap:12px;
  margin: 6px 0 0 0;
}

.more{
  padding: 10px 20px;
  background-color: rgb(210, 21, 21);
  font-size: 16px;
  color:white;
  font-weight:bold;
  border-radius: 8px;
}

.more:hover{
  background-color:rgb(159, 25, 25);
  transition: .2s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.33);
}

.status-styling{
  border: 2px solid rgb(196, 196, 196);
  padding: 4px 7px;
  border-radius: 12px;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.2);
  display:flex;
  flex-direction:row;
  align-items: center;
}

.status-styling:hover{
  background-color: rgb(188, 23, 23);
  transition: .2s ease-in-out;
  border: 2px solid rgb(196, 196, 196);
  padding: 4px 7px;
  border-radius: 12px;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.4);
  color:white;
}

.order-status-more label {
  font-weight: bold;
  font-size:16px;
}

.status-styling:hover select{
  color:white;
  transition: .2s ease-in-out;
}

.order-status-more select {
  padding: 8px 12px;
  border-radius: 10px;
  background-color: transparent;
  border:none;
  font-size: 15px;
  transition: border-color 0.3s ease;
}

.order-status-more option:hover, .order-status-more select:hover, .order-status-more select:focus, .status-styling:has(select:focus){
  background-color: rgb(188, 23, 23);
  color:white
}

.status-more-wrapper{
  display:flex;
  flex-direction:row;
  gap:12px;
}

.status-color{
  content: '';
  width: 40px;
  height:40px;
  border-radius:100%;
}


/*   ------ Formulare  ---------*/



.admin-form {
  background-color: var(--form-bg);
  border: 1px solid var(--form-border);
  border-radius: 8px;
  padding: 40px;
  max-width: 800px;
  width: 100%;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.component-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.select-wrapper {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

.select-wrapper label {
  Margin: 0 0 10px;
}

.admin-form h1,
.admin-form h2 {
  text-align: center;
  margin-bottom: 5px;
}

.admin-form label {
  font-weight: bold;
}

.admin-form input,
.admin-form select {
  background-color: var(--input-bg);
  border: 1px solid var(--form-border);
  border-radius: 4px;
  padding: 12px;
  font-size: 16px;
  color: var(--input-color);
  transition: background-color 0.2s, border-color 0.2s;
  width: 100%;
  box-sizing: border-box;
}


.admin-form input:hover,
.admin-form select:hover {
  background-color: var(--input-bg-hover);
  border-color: var(--input-border-hover);
}


.admin-form input:focus,
.admin-form select:focus {
  background-color: var(--input-bg-focus);
  border-color: var(--input-border-focus);
  outline: none;
}

.admin-form .component-wrapper {
  display: flex;
  gap: 10px;
}

.admin-form button,
.admin-form input[type="submit"] {
  background-color: var(--submit-bg);
  color: var(--submit-text);
  border: none;
  padding: 12px 25px;
  border-radius: 4px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.2s;
}

.admin-form button:hover,
.admin-form input[type="submit"]:hover {
  background-color: var(--submit-hover);
}

.admin-form .component-wrapper button {
  flex-shrink: 0;
  padding: 12px;
  font-size: 18px;
  line-height: 1;
}

.admin-form select {
  flex: 1;
}

/* MICHAEL PIETSCH ENDE */