/* Rinor STUBLLA Ende*/

.categoryNameContainer {
    text-align: center;
    width: 100%;
}

.categoryName {
    font-size: clamp(24px, 5vw, 45px);
    margin: 30px 0 40px;
    color: var(--pl-category-color);
    font-weight: 700;
    border-bottom: rgba(0, 0, 0, 0.3) 2px solid;
    display: inline-block;
    padding-bottom: 20px;
    padding-left: clamp(20px, 10vw, 250px);
    padding-right: clamp(20px, 10vw, 250px); 
}

.productMainContainer {
    display: flex;
    flex: 1;;
    flex-direction: column;
    gap: 25px;
    max-width: 1100px;
    margin: 0 auto 50px;
    padding: 0 20px;
    width: 100%;
    box-sizing: border-box;
}

.productMainContainer.zubehoer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    max-width: 1100px;
    margin: 0 auto 50px;
    padding: 0 20px;
    width: 100%;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .productMainContainer.zubehoer {
        grid-template-columns: 1fr; /* Unterschied: Umstellung auf eine Spalte */
    }
}

.product {
    background-color: var(--pl-product-main-container-bg-color);
    border-radius: 25px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    border: rgba(0, 0, 0, 0.3) 1px solid;
}

.product.zubehoer {
    background-color: var(--pl-product-main-container-bg-color);
    border-radius: 25px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    border: rgba(0, 0, 0, 0.3) 1px solid;
}

@media (max-width: 768px) {
    .product {
        flex-direction: column; 
    }
}

.product:hover {
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.2);
    border: rgba(0, 0, 0, 0.7) 1px solid;
    transform: translateY(-3px);

}

.productPictureContainer {
    display: flex;
    align-items: center;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    justify-content: center;
    background-color: var(--pl-product-picture-bg-color);
    padding: 20px;
    width: 30%;
    min-width: 150px;
}

.productPictureContainer.zubehoer {
    display: flex;
    align-items: center;
    border-radius: 25px 25px 0 0;
    justify-content: center;
    background-color: var(--pl-product-picture-bg-color);
    padding: 20px;
    width: 100%;
    min-width: 150px;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .productPictureContainer {
        width: 100%;
        border-radius: 25px 25px 0 0;
        box-sizing: border-box 
    }
}

.product img {
    max-height: 180px;
    max-width: 100%;
    object-fit: contain;
    transition: transform 0.5s ease;
}

.product.zubehoer img {
    max-height: 140px;
    max-width: 100%;
    object-fit: contain;
    transition: transform 0.5s ease;
}

.product:hover img {
    transform: scale(1.08);
}

.productDetails {
    padding: 20px;
    width: 70%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.productDetails.zubehoer {
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .productDetails {
        width: 100%;
    }
}

.product h1 {
    font-size: clamp(20px, 3vw, 30px);
    font-weight: 700;
    color: var(--pl-product-main-heading-color);
    margin: 0 0 10px 0;
    text-align: left;
    padding: 0;
    line-height: 1.3;
}

.product h2 {
    font-size: clamp(14px, 1.5vw, 16px);
    color: var(--pl-product-subtitle-color);
    margin: 0 0 15px 0;
    text-align: left;
    line-height: 1.4;
    font-weight: 400;
}

.productSpecs {
    padding: 0;
    margin: 8px 0;
    list-style: none;
}

.productSpecs li {
    font-size: clamp(14px, 1.5vw, 16px);
    color: var(--pl-description-text-color);
    margin: 12px 0;
    
    text-align: left;
    line-height: 1.4;
    position: relative;
    padding-left: 20px;
}

.productSpecs li::before {
    content: ">";
    color: var(--pl-description-indicator-color);
    font-weight: bold;
    position: absolute;
    left: 1px;
    font-size: 18px;
    top: -3px;
}

.productPrice {
    font-size: clamp(18px, 2.5vw, 24px);
    color: var(--pl-price-tag-color);
    font-weight: 600;
    text-align: right;
    margin: 15px 0;
}

.buttonContainer {
    display: flex;
    justify-content: right;
    gap: 15px;
    align-items: center;
    flex-wrap: wrap;
}

@media (max-width: 480px) {
    .buttonContainer {
        justify-content: center;
    }

    .productPrice{
        text-align: center;
    }
}

.zumWarenkorb {
    background-color: var(--pl-add-to-basket-button-bg-color);
    text-decoration: none;
    padding: 10px;
    border: none;
    border-radius: 6px;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease;
}

.zumWarenkorb:hover{
    background-color: var(--pl-add-to-basket-button-bg-color--hover);
}

.zumWarenkorb img {
    height: auto;
    width: 25px;
}

.product .more {
    background-color: var(--pl-show-more-button-bg-color);
    color: --pl-show-more-button-color;
    text-decoration: none;
    width: auto;
    font-size: 16px;
    font-weight: 500;
    padding: 12px 25px;
    text-align: center;
    transition: 0.3s ease;
    border-radius: 6px;
    display: inline-block;
}

.product .more:hover {
    background-color: var(--pl-show-more-button-bg-color--hover);
}

.product.sale::before {
    content: 'SALE %';
    position: absolute;
    width: 80px;
    height: 25px;
    text-align: center;
    top: 15px;
    right: 15px;
    background-color: var(--pl-sale-tag-bg-color);
    color: var(--pl-sale-tag-color);
    padding: 5px 10px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 25px;
    z-index: 1;
}


/* Rinor STUBLLA Ende*/
