header {
    position: sticky;
    z-index: 5;
    top: 0;
    width: 100%;
    transition: 0.35s ease-in-out;
    align-self: flex-start;
}

/* Top Header (user navigation) */
.topNavHeader {
    background: var(--shop-header-theader-bg-color);
    display: flex;
    align-items: center;
    flex-wrap: wrap; /* Allow wrapping on small screens */
}

.logo {
    margin: 0 0 0 20px;
}

.logo > img {
    width: 100%;
    max-width: 120px;
}

.userNav {
    flex: 1;
    text-align: right;
}

.userIconHeader {
    max-height: 40px;
    margin: 0 20px 0 0;
}

/* Bottom Header (Links zum Shop-Browsen) */
.bottomNavHeader {
    background-color: var(--shop-header-bheader-bg-color);
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}

.bottomNavHeader > ul {
    position: relative;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: center;
    padding: 0;
    margin: 0;
    flex: 1;
    left:50%;
    transform: translateX(-50%);
}

.bottomNavHeader > ul > li {
    position: relative;
    padding: 7px 15px;
}

.bottomNavHeader > ul > li:hover {
    background-color: var(--shop-header-tlvl-li--hover);
}

.bottomNavHeader > ul > li > a {
    color: var(--shop-header-tlvl-li-color);
    font-size: clamp(16px, 2.5vw, 27px);
    text-decoration: none;
}


.bottomNavHeader .subMenu {
    display: none;
    list-style: none;
    text-decoration: none;
    position: absolute;
    flex-direction: column;
    background-color: var(--shop-header-submenu-bg-color);
    border-radius: 0 0 3px 3px;
    white-space: nowrap;
    padding: 0;
    z-index: 5;
    width: 200px;
}

.bottomNavHeader > ul > li:hover > .subMenu {
    display: flex;
    position: absolute;
    left: 0;
    top: 100%;
    font-size: clamp(16px, 2vw, 22px);
}


@media (max-width: 768px) {
    .bottomNavHeader > ul {
        flex-direction: column;
        align-items: center;
    }
    
    .bottomNavHeader > ul > li {
        width: 100%;
        text-align: center;
    }
    
    .bottomNavHeader > ul > li:hover > .subMenu {
        position: relative;
        width: 100%;
        top: 0;
    }
    
    .subMenu {
        width: 100% !important;
    }
}

.subMenu li {
    padding: 7px 10px;
}

.subMenu li:hover {
    background-color: var(--shop-header-submenu-li-bg-color--hover);
}

.subMenu li:hover > a {
    color: var(--shop-header-submenu-li-text-color--hover);
}

.subMenu li a {
    text-decoration: none;
    color: var(--shop-header-submenu-li-text-color);
    display: block;
}

.headerDeals {
    background-color: var(--shop-header-deals-bg-color);
    margin: 0 0 0 10px;
}

.suchIcon{
    width: 100%;
    max-width: 50px;
    cursor: pointer;
}

.suchIcon:hover {
    background-color: var(--shop-header-tlvl-li--hover);
}

.search-container {
    position: relative;
    display: flex;
    align-items: center;
    margin: 0 15px;
  }
  

  
  #suchFeld {
    display: none;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid var(--shop-header-submenu-bg-color);
    margin-left: 5px;
    background-color: var(--shop-header-bheader-bg-color);
    color: black;
    transition: all 0.3s ease;
  }
  
  #suchFeld.active {
    background-color: white;
    display: inline-block;
    width: 150px;
  }

.toggleTheme{
    cursor: pointer;
    max-width: 50px;
    max-height: 50px;
    transform: translate(-20%);
}