header {
    position: sticky;
    z-index: 5;
    top: 0;
    width: 100%;
    transition: 0.35s ease-in-out;
    align-self: flex-start;
}

/* Top Header (user navigation) */
.topNavHeader {
    background: rgb(12, 12, 12);
    display: flex;
    align-items: center;
    flex-wrap: wrap; /* Allow wrapping on small screens */
}

.logo {
    margin: 0 0 0 20px;
}

.logo > img {
    width: 100%;
    max-width: 120px;
}

.userNav {
    flex: 1;
    text-align: right;
}

.userIconHeader {
    max-height: 40px;
    margin: 0 20px 0 0;
}

/* Bottom Header (Links zum Shop-Browsen) */
.bottomNavHeader {
    background-color: rgb(150, 35, 35);
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}

.bottomNavHeader > ul {
    position: relative;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: center;
    padding: 0;
    margin: 0;
    flex: 1;
    left:50%;
    transform: translateX(-50%);
}

.bottomNavHeader > ul > li {
    position: relative;
    padding: 7px 15px;
}

.bottomNavHeader > ul > li:hover {
    background-color: rgb(63, 61, 61);
}

.bottomNavHeader > ul > li > a {
    color: rgb(255, 255, 255);
    font-size: clamp(16px, 2.5vw, 27px);
    text-decoration: none;
}


.bottomNavHeader .subMenu {
    display: none;
    list-style: none;
    text-decoration: none;
    position: absolute;
    flex-direction: column;
    background-color: rgb(63, 60, 60);
    border-radius: 0 0 3px 3px;
    white-space: nowrap;
    padding: 0;
    z-index: 5;
    width: 200px;
}

.bottomNavHeader > ul > li:hover > .subMenu {
    display: flex;
    position: absolute;
    left: 0;
    top: 100%;
    font-size: clamp(16px, 2vw, 22px);
}


@media (max-width: 768px) {
    .bottomNavHeader > ul {
        flex-direction: column;
        align-items: center;
    }
    
    .bottomNavHeader > ul > li {
        width: 100%;
        text-align: center;
    }
    
    .bottomNavHeader > ul > li:hover > .subMenu {
        position: relative;
        width: 100%;
        top: 0;
    }
    
    .subMenu {
        width: 100% !important;
    }
}

.subMenu li {
    padding: 7px 10px;
}

.subMenu li:hover {
    background-color: rgb(219, 219, 219);
}

.subMenu li:hover > a {
    color: rgb(46, 45, 45);
}

.subMenu li a {
    text-decoration: none;
    color: white;
    display: block;
}

.subMenu li a:hover {
    color: rgb(46, 45, 45);
}

.headerDeals {
    background-color: #3d3f3f;
    margin: 0 0 0 10px;
}

.toggleTheme{
    cursor: pointer;
    max-width: 50px;
    max-height: 50px;
    transform: translate(-20%);
}