html {
    height:100%
}

body {
    margin: 0;
    height: 100%;
    display: flex;          /* damit footer am ende der seite*/
    flex-direction: column; /* damit footer am ende der seite*/
    min-height: 100vh;      /* damit footer am ende der seite*/
}

.filler {                   /* damit footer am ende der seite*/
    flex: 1;                /* damit footer am ende der seite*/
}                           /* damit footer am ende der seite*/

.footer {
    background-color: #111;
    color: white;
    padding: 40px 0 20px;
}

.footer-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
}

.footer-grid {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    gap: 40px;
    margin-bottom: 0px;
}

.footer-logo {
    width:60px;
}

.footer-about {
    font-size: 14px;
    line-height: 1.6;
    color: #aaa;
    margin-bottom: 20px;
}

.footer-social {
    display: flex;
    gap: 10px;
}

.footer-social a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    background-color: #333;
    color: white;
    border-radius: 50%;
    text-decoration: none;
    font-size: 16px;
}

.footer-social a:hover {
    background-color: #e00;
}

.footer-title {
    font-size: 18px;
    margin-bottom: 20px;
    position: relative;
    padding-bottom: 10px;
}

.footer-title::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 30px;
    height: 2px;
    background-color: #e00;
}

.footer-links {
    list-style: none;
}

.footer-links li {
    margin-bottom: 10px;
}

.footer-links a {
    color: #aaa;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s;
}

.footer-links a:hover {
    color: white;
}

.footer-contact li {
    display: flex;
    margin-bottom: 15px;
    color: #aaa;
    font-size: 14px;
}

.footer-contact-icon {
    margin-right: 10px;
    color: #e00;
}

.payment-text{
    font-size: 18px;
    margin-bottom: 20px;
    position: relative;
    padding-bottom: 10px;
}
.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    border-top: 1px solid #333;
    font-size: 13px;
    color: #aaa;
}

.footer-payment {
    display: flex;
    gap: 10px;
    margin: 0 10px 12px;
    justify-content: right;
}

.impressum-cookies {
    display: flex;
    margin-top: 20px;
    gap: 10px;
    color: #aaa;
    justify-content: center;
}

.impressum-cookies a {
    color: #aaa;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s;
}

.impressum-cookies a:first-of-type::after {
    content: "|";
    margin-left: 10px;
} 

.impressum-cookies a:hover::after{
    color: #aaa;
}

#manage-cookie-settings{
    cursor: pointer;
}