body {
    margin: 0
}

.top-bar {
    background-color: rgb(7,7,7);
    padding: 2vh 3vw;
    display: flex;
    justify-content: space-between;
}

.login-user-container{

    display: flex;
    gap: 2vw;
}

.header-icon{
    width: 35px;
    background-size: contain;
    background-repeat: no-repeat;
}

.main-nav {
    background-color: #111;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2vh 3vw;
    align-items: center;
}

.logo {
    height: 60px;
}

.main-menu {
    display: flex;
    gap: 20px;
    flex-direction: row;
}

.main-menu a {
    color: #ccc;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
}

.main-menu a:hover {
    color: white;
}

.main-menu>ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.main-menu>ul>li {
    position: relative;
    padding: 20px;
    border-bottom: rgba(0,0,0,0) solid;
}

.main-menu>ul>li:hover {
    background-color: #1d1d1d;
    border-bottom: #ccc solid;
}

.main-menu>ul>li>.submenu {
    display: none;
    background-color: #111;
    position: absolute;
    top: 103%;
    left: 0%;
    list-style: none;
    z-index: 5;
    flex-direction: column;
    width: max-content;
    min-width: 150px;
}

.main-menu>ul>li:hover>.submenu {
    display: flex;
    z-index: 5;
    list-style: none;
    flex-direction: column;
}

.main-menu>ul>li>.submenu>li {
    padding: 15px 20px;
}


.main-menu>ul>li>.submenu>li:last-child {
    padding-bottom: 20px;
}

.main-menu>ul>li>.submenu>li>a:hover {
    cursor: pointer;
}

.main-menu>ul>li>.submenu>li:has(a:hover) {
    background-color: #1d1d1d;
}

.red-badge {
    background-color: #e00;
    color: white;
    padding: 2px 5px;
    border-radius: 50%;
    font-size: 10px;
    margin-left: 5px;
    vertical-align: super;
}


/* Warenkorb und Wunschliste */

.wishlist-cart-container{
    display:flex;
    align-items: center;
    gap: 25px;
}

#wishlist-icon{
    background-image: url(/assets/images/icons/favorite-border.svg);
}

#wishlist-icon:hover{
    background-image: url(/assets/images/icons/favorite.svg);
}

.cart {
    background-color: #e00;
    color: white;
    padding: 12px 20px;
    text-decoration: none;
    font-weight: bold;
    display: flex;
    align-items: center;
    position: relative;
}

.cart-badge {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: white;
    color: #e00;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}